/* 居中显示div，当屏幕宽度小于1000px时，宽度拉满 */
.center-plane{
    margin: auto;
    width: 100%;
    border: 1px solid white;
}
@media screen and (min-width: 1000px) {
.center-plane {width: 75%;}
}

/* 列布局上下间隔 */
.el-row{
    margin: 5px 0;
}

/* 编辑页面的锚点元素a的样式：上移、下移、编辑、删除... */
.edit-a{
    float:right;
    margin: 0 3px 5px 3px;
}

/* 组件前说明文字 */
.small-title{
    padding: 5px;
    /* border: 1px solid red; */
}

/*  */
.edit-head-menu{
    margin: 25px 0;
}

/* 按钮拉满 */
.big-btn{
    width: 100%;
    
}

